
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  color: #484F5B  ;
}

/*-----main-------*/

main {
  max-width: 100%;
}
section {
  align-items: center;
  position: relative;
  text-align:left;
}
article{
  justify-content: space-evenly;
}
article * {
  margin: 5%;
}


h1 {
  font-size: 5.5vw;
}
#b4 h1 {
  font-size: 4.5vw;
}
h2 {
  text-align: center;
}
p {
  font-size: 1.6vw;
} 
#b2 p,#b1 p {
  margin-right: 15%;
}
#b3 p {
  padding: 1% 0;
  margin: -5%;
}

/*--------Header---------------------*/
nav {
  background: #ffffff;
  height: 140px;
  width: 100%;
  padding: 2% 5%;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #484F5B;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active, a:hover {
  background: #e6c8c3;
  transition: 0.5s;
  color: white;
}
.checkbtn {
  font-size: 2.083333333333333vw  ;
  color: #484F5B;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
} 
#check {
  display: none;
}
@media (max-width :1080px) {
  .LOGO {
      font-size: -10%;
      padding-left: -30px;
  }
  nav ul li a {
      font-size: 16px;
  }
}
@media (max-width :900px) {
  .checkbtn {
      display: block;
  }
  ul {
      position:fixed;
      width: 100%;
      height: 100vh;
      background: #bebebe;
      top : 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li {
      display: block;
      float: none;

  }
  nav ul li a {
      font-size: 20px;
      margin: 50px 0 ;
      line-height: 30px;
  }
  a:hover,a.active {
      color: #e6c8c3;
      background: none;

  }
  #check:checked ~ ul {
      left: 0;
      position: relative;
}
  #check:checked ~ nav {
    height: +462px;
}
}
/*----------btn----------*/
button, .button {
  padding: 2% 5%;
  border: none;
  background-color: #e6c8c3;
  font-weight: bold;
  font-size: 21px;
  border-radius: 2px;
  margin: 5%;
}
button:hover {
  color: white;
  background-color: #875959;
  transition: 00.3s;
}
/*----------b1------------*/

#b1 {
  display: flex;
  flex-direction: row;
    background-image: url('Design-b1.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
}
#b1 div {
width: 50%;
}
@media (max-width : 700px) {
  #b1 {
    flex-direction: column-reverse;
    background-image: none;
    text-align: center;
  }
  #b1 div {
    width: 100%;
    }
}
/*--------b2-----------*/

#b2{
  background-color: #e5e3e1;
  }

#b2 div article {
  position: absolute;
  top: 12%;
  width: 50%;
}

/*-------------b3---------*/
#b3 {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: baseline;
  text-align:center;
  margin: 7%;
}
@media (max-width : 700px) {
  #b3 {
    flex-direction: column;
    align-items:center;
    
  }
}
/*----------b4-----------*/
#b4 {

  display: flex;
  flex-direction:row;
  justify-content:space-around;
  background-image: url('Design-b4.png');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: 100% 100%;
  padding: 5% 0;
}
#b4 div {
  width: 50%;
}
#b4 div article{
  padding: 0 70px 0 80px ;
}
#b4 div img {
padding-right: 36px;
}
@media (max-width:700px) {
#b4{
  flex-direction: column ;
  text-align: center;
}
#b4 div {
  width: 100%;
}
}
/*------------b5------------*/


#b5 div{
  align-items: center;
}
#b5 div article {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
}
.image{
  position: absolute;
  margin-right: 23%;
  margin-top: 2%;
  top : 0;
  right : 0;
  width:25%;}
.image2{
  height: 50%;
  }
  @media (max-width : 700px) {
    #b5 div article {
      position: relative;
    }
    .image {
      position: relative;
    }
  }
/*------%-b6----------*/
#b6 {
  text-align: center;
  align-content: space-between;
  background-image: url('Design-b6.png');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: 100% 100%;
  max-width: 100%;
}
#b6-box{
  display: flex;
  flex-direction:row;

}
.img-responsive {
  width: 100%;
  height: auto;
}

#b6-box div {
  margin: 3% 3%;
  background-color: rgb(255, 255, 255);
  box-shadow: 13px 10px 29px 0px #e0e0e0;
  }
@media (max-width:700px) {
  #b6-box {
    flex-direction: column;
    margin: -5% 0;
  }  
  #b6-box div {
    margin: 5% 15%;
    width: 70%;
    padding: -5%;
  }
}
/*--------------b7-------------------------*/

#b7 {
  background-color: #e5ccc6;
}
#b7 div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#b7 div div {
  width: 50%;
}
.yt {
  box-shadow: 13px 10px 29px 0px #525252;
  margin: 10% 0;
  width: 600px;
  height: 423px;
  max-width: 100%;
  max-height: 100%;
  
}
article a i {
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 1.7%;
  height: 40px;
	width: 40px;
  background-color: #484F5B;
	border-radius: 5%;
	color: #ffffff;
  transition: all 0.5s ease;
}
.social-links-b7 a i :hover{
  background-color: rgb(255, 255, 255);
	color: #484F5B;
}
@media (max-width:700px) {
  #b7 div{
    display: flex;
    flex-direction: column-reverse;
  }
  #b7 div div {
    width: 100%;
    text-align: center;
    padding: 0 10%;
  }
}
/*--------------b8-----------------------*/
#b8 {
  text-align: center;
  overflow: hidden;
  margin: auto;
  background-image: url('Design-b8.png');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: 100% 100%;
}
form div input, form div textarea {
  justify-content:space-around;
	text-align: left;
  align-items: center;
  font-size:xx-large;
  width: 70%;
  margin: 16px 0;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 3px;
  background-color: #efefef;
  padding: 20px 40px;
  outline: none;
  color: rgb(73, 73, 73);
  transition: 0.5s ;
}
form button {
margin-top: 10px;
padding: 0.5% 1.5%;
}


/* -------------------foorter---------------------*/


.row-footer{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #52555f;
    padding: 70px 70px 70px 70px;
}
.footer-logo{
	margin-bottom: 10px;
}
.footer-col{
   width: 20%;
   padding: 0 15px;

}

.footer-col h4{
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 20px;
	width: 20px;
  background-color: #ffffff;
	margin:15px 20px 5px 0px;
	text-align: center;
	line-height: 22px;
	border-radius: 10%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #a949ac;
}
.space1 {
    margin: 30px 0px 0px 0;
}
.space2{
    margin: 35px 0 0 0;
}

/*responsive*/
@media(max-width:1300px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 800px){
  .footer-col{
    width: 100%;
}
}