
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  color: #484F5B  ;
}
/*--------Header---------------------*/
header{
  padding: 0 0 0 5.5%;
  display: flex;
  flex-direction: row;
  height: 2.23964165733483%;
  gap: 20%;
  align-items: center;
  background-color: #fff;
  font-size: 21px;
  
}

nav ul {
  min-width: 470px;
  width: 970px;


}
nav ul li {
  margin: 3.95%; 
  justify-content:space-around;
  display: inline-flex;
}
nav ul li a {
  padding: 10% 10% 10% 10%;
}
nav ul li a:hover {
  color: white;
  background-color: #e6c8c3;
  border-radius: 10%;
}

/*-----main-------*/

main {
  max-width: 100%;
}
section {
  align-items: center;
  position: relative;
  text-align:left;
}
h1 {
  font-size: 75px;
  margin-bottom: 10px;
  margin-top: 20px;
}
h2 {
  text-align: center;
}
p {
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 10px;

}
/*----------btn----------*/
button {
  padding: 2% 5%;
  border: none;
  background-color: #e6c8c3;
  font-weight: bold;
  font-size: 21px;
}
button:hover {
  color: white;
  background-color: #875959;
}
/*----------b1------------*/

#b1 {
  max-height: 12.06207006878899% ;
  display: flex;
  flex-direction: row;
}
#b1 div {
  width: 50%;
}
#b1 div article {
  padding: 0 60px 0 100px ;
}

/*--------b2-----------*/

#b2{
  max-height: 12.90993441049432% ;
}
#b2 div article {
  padding: 0 0 0 80px ;
  position: absolute;
  top: 20%;
  width: 50%;
}
/*-------------b3---------*/
#b3 {
  height: 477px ;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-align:center;
}
/*----------b4-----------*/
#b4 {
  height: 636px ;
  display: flex;
  flex-direction:row;
  justify-content:space-around;

}
#b4 div {
  width: 60%;
}
#b4 div article{
  padding: 0 70px 0 80px ;
}
#b4 div img {
padding-right: 36px;
}

/*------------b5------------*/

#b5 {
  height: 608px;
}
#b5 div article {
  padding: 100px 80px 0 100px ;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
}
/*-------b6----------*/
#b6-box{
  padding: 0 100px 0 100px;
  height: 957px;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
}
#b6-titre {
  text-align: center;
  padding-top: 100px ;
}
#b6-titre p {
  text-align: center;
  padding-top: 50px ;
}
#b6-box div div {
  align-items: center ;
  width: 351px;
  height: 535px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 13px 10px 29px 0px #e0e0e0;

}
.text {
  margin:10%;
}
/*--------------b7-------------------------*/

#b7 {
  height: 735px;
}
#b7 div{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding-top: 5%;
}
#b7 div div {
  width: 50%;
}
.yt {
  box-shadow: 13px 10px 29px 0px #525252;
}
article a {
  padding-right: 40px;
}
article a i {
  padding: 1.25%;
	display: inline-block;
	height: 40px;
	width: 40px;
  background-color: #484F5B;
  justify-content:space-around;
	text-align: center;
  align-items: center;
	border-radius: 5%;
	color: #ffffff;
  transition: all 0.5s ease;
}
.social-links-b7 a i :hover{
  background-color: rgb(255, 255, 255);
	color: #484F5B;
}

/*--------------b8-----------------------*/
#b8 {
  height: 826px;
  text-align: center;
  overflow: hidden;
  margin: auto;

}
form div input, form div textarea {
  justify-content:space-around;
	text-align: left;
  align-items: center;
  font-size:xx-large;
  width: 70%;
  margin: 16px 0;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 3px;
  background-color: #efefef;
  padding: 20px 40px;
  outline: none;
  color: rgb(73, 73, 73);
  transition: 0.5s ;
}
form button {
margin-top: 10px;
padding: 0.5% 1.5%;
}


/* -------------------foorter---------------------*/

ul{
	list-style: none;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #52555f;
    padding: 70px 70px 70px 70px;
  height: 300px;
}
.footer-logo{
	margin-bottom: 10px;
}
.footer-col{
   width: 20%;
   padding: 0 15px;

}

.footer-col h4{
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 20px;
	width: 20px;
  background-color: #ffffff;
	margin:15px 20px 5px 0px;
	text-align: center;
	line-height: 22px;
	border-radius: 10%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #a949ac;
}
.space1 {
    margin: 30px 0px 0px 0;
}
.space2{
    margin: 35px 0 0 0;
}

/*responsive*/
@media(max-width:1300px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 800px){
  .footer-col{
    width: 100%;
}
}
